In [ ]:
Variable Definition

In [3]:
dt = 1

1. Delivery
2. Crane Operation Time - not being ready 8- 10
3. Every unit cost 5000 $ - more than 4 worker
4. only 4 types of pbu - 5, 10, 15

$Y_{warehouse}(t)$     $~~~~~~~~~~~~~~~~$     PBUs in warehouse

$Y_{parked}(t)$     $~~~~~~~~~~~~~~~~$     PBUs in parking

$x_{delivered}(t)$     $~~~~~~~~~~~~~~~~$     PBUs delivered into the warehouse

$x_{load}(t)$     $~~~~~~~~~~~~~~~~$     PBUs loaded from the warehouse into the parking

$Y_{hoisted}(t)$     $~~~~~~~~~~~~~~~~$     PBUs which are hoisted

$x_{hoist}(t)$     $~~~~~~~~~~~~~~~~$     PBUs selected from the parking, and and to be hoisted

$x_{install}(t)$     $~~~~~~~~~~~~~~~~$     PBUs selected from the hoisted ones, and to be installed



$C_{hoist}(t)$     $~~~~~~~~~~~~~~~~$     Maximum PBUs can be hoisted at each time frame

$C_{install}(t)$     $~~~~~~~~~~~~~~~~$     Maximum PBUs can be installed at each time frame

Equations

$ Y_{warehouse}(t) =  Y_{warehouse}(t-1) + x_{delivered}(t) - x_{load}(t) $


$ Y_{parking}(t) =  Y_{parking}(t-1) + x_{load}(t) - x_{hoist}(t) $


$ Y_{Hoist}(t) =  Y_{Hoist}(t-1) + x_{hoist}(t) - x_{install}(t) $


$ Y_{install}(t) =  Y_{install}(t-1) + x_{install}(t) $


$Y_{parked}(t)$ =< 30

In [10]:
import pandas as pd 
import datetime
import numpy as np

## Generate Random delivery Data

In [17]:
delivery=pd.DataFrame([])
delivery["date"]=pd.date_range(start='1/1/2018', end='3/1/2018')
delivery["shipment"]=np.random.poisson(10, len(delivery))

In [18]:
delivery

         date  shipment
0  2018-01-01        10
1  2018-01-02         4
2  2018-01-03         8
3  2018-01-04        10
4  2018-01-05        12
5  2018-01-06         6
6  2018-01-07         9
7  2018-01-08         8
8  2018-01-09        10
9  2018-01-10        14
10 2018-01-11        10
11 2018-01-12        11
12 2018-01-13        15
13 2018-01-14        10
14 2018-01-15         6
15 2018-01-16        13
16 2018-01-17         6
17 2018-01-18         9
18 2018-01-19         8
19 2018-01-20        13
20 2018-01-21        11
21 2018-01-22         4
22 2018-01-23        11
23 2018-01-24        10
24 2018-01-25        12
25 2018-01-26        14
26 2018-01-27         6
27 2018-01-28        11
28 2018-01-29        16
29 2018-01-30        13
30 2018-01-31        10
31 2018-02-01        10
32 2018-02-02         7
33 2018-02-03         8
34 2018-02-04        12
35 2018-02-05        11
36 2018-02-06         9
37 2018-02-07        10
38 2018-02-08         6
39 2018-02-09        16
40 2018-02-10        10
41 2018-02-11         9
42 2018-02-12        12
43 2018-02-13        11
44 2018-02-14         6
45 2018-02-15         5
46 2018-02-16        16
47 2018-02-17        17
48 2018-02-18         8
49 2018-02-19        16
50 2018-02-20         8
51 2018-02-21         8
52 2018-02-22        10
53 2018-02-23        12
54 2018-02-24        16
55 2018-02-25         5
56 2018-02-26        15
57 2018-02-27         9
58 2018-02-28        12
59 2018-03-01        11